In [1]:
import talib
import pandas as pd
import numpy as np

In [2]:
import random
random.seed(42)

In [3]:
data = pd.read_csv("RELIANCE.NS.csv")
data = data.dropna()
data

,Date,Open,High,Low,Close,Adj Close,Volume
0,1996-01-01,16.009800,16.095699,15.904300,16.068300,2.426239,47600787.0
1,1996-01-02,16.029301,16.107401,15.826200,15.943400,2.407380,77143764.0
2,1996-01-03,16.205000,16.943001,16.029301,16.064400,2.425650,95695836.0
3,1996-01-04,15.912100,15.962900,15.701300,15.916000,2.403243,99159504.0
4,1996-01-05,15.853600,15.853600,15.670000,15.806700,2.386739,76213503.0
5,1996-01-08,15.775500,15.787200,15.017900,15.174100,2.291219,85478335.0
6,1996-01-09,14.725100,14.994500,14.233100,14.736800,2.225189,177730990.0
7,1996-01-10,14.447800,14.795400,14.291600,14.358000,2.167992,126455257.0
8,1996-01-11,14.213500,14.877400,14.194000,14.807100,2.235804,187276245.0
9,1996-01-12,14.916400,15.029600,14.553300,14.650900,2.212218,171294714.0
10,1996-01-15,14.607900,14.682100,14.416600,14.498600,2.189222,91424832.0
11,1996-01-16,14.447800,14.604000,14.401000,14.525900,2.193344,99318282.0
12,1996-01-17,14.447800,14.467400,13.827000,13.948000,2.106083,136980711.0
13,1996-01-18,13.592700,13.815300,13.417000,13.561400,2.047709,172581585.0
14,1996-01-19,13.374000,13.541900,13.233400,13.323200,2.011742,148366639.0
15,1996-01-22,13.366200,13.725400,13.354500,13.549700,2.045942,154802916.0
16,1996-01-23,13.596600,13.655200,12.261100,12.975700,1.959271,162257165.0
17,1996-01-24,12.862500,12.940600,12.339200,12.530600,1.892063,160550300.0
18,1996-01-25,12.503200,12.557900,11.929200,12.003400,1.812458,164971119.0
20,1996-01-29,11.948700,13.061600,11.874600,12.948400,1.955149,298484960.0
21,1996-01-30,13.354500,14.760200,13.159200,14.112000,2.130847,485481422.0
22,1996-01-31,13.979300,14.506400,13.452100,13.803500,2.084265,334445006.0
23,1996-02-01,13.666900,14.447800,13.627800,14.358000,2.167992,292779831.0
24,1996-02-02,14.740700,16.087900,14.740700,15.916000,2.403243,374293835.0
25,1996-02-05,16.790701,17.587299,16.287001,17.239799,2.603130,558877894.0
26,1996-02-06,17.653700,17.962200,15.431900,15.795000,2.384972,567944894.0
27,1996-02-07,14.920300,16.243999,14.764100,16.087900,2.429199,409365875.0
28,1996-02-08,16.251900,17.778601,16.087900,17.493601,2.641454,375632565.0
29,1996-02-09,18.118401,18.899300,17.501400,18.508900,2.794759,454624685.0
30,1996-02-12,18.040300,18.352600,17.103100,17.349100,2.619634,444182462.0
...,...,...,...,...,...,...,...
5923,2019-06-20,1280.000000,1300.000000,1278.000000,1296.750000,1296.750000,4914012.0
5924,2019-06-21,1295.949951,1296.000000,1275.550049,1279.500000,1279.500000,10623098.0
5925,2019-06-24,1272.150024,1276.449951,1257.099976,1262.400024,1262.400024,5150998.0
5926,2019-06-25,1258.900024,1298.000000,1254.250000,1295.849976,1295.849976,6842363.0
5927,2019-06-26,1291.000000,1304.599976,1286.349976,1294.150024,1294.150024,5299942.0
5928,2019-06-27,1293.150024,1296.900024,1271.000000,1274.150024,1274.150024,11385972.0
5929,2019-06-28,1277.099976,1282.849976,1248.650024,1253.099976,1253.099976,8659721.0
5930,2019-07-01,1258.050049,1272.650024,1246.449951,1268.849976,1268.849976,6162080.0
5931,2019-07-02,1273.949951,1281.000000,1263.300049,1278.500000,1278.500000,4638751.0
5932,2019-07-03,1282.900024,1286.500000,1275.050049,1282.550049,1282.550049,4026032.0
5933,2019-07-04,1281.400024,1291.000000,1280.000000,1284.000000,1284.000000,4275148.0
5934,2019-07-05,1285.099976,1290.500000,1260.000000,1263.349976,1263.349976,4995344.0
5935,2019-07-08,1258.000000,1268.099976,1248.199951,1252.050049,1252.050049,6404544.0
5936,2019-07-09,1248.949951,1283.500000,1245.500000,1280.099976,1280.099976,8016757.0
5937,2019-07-10,1280.050049,1289.349976,1268.699951,1278.849976,1278.849976,5494315.0
5938,2019-07-11,1287.000000,1289.800049,1279.300049,1281.550049,1281.550049,3935460.0
5939,2019-07-12,1283.000000,1300.000000,1278.050049,1280.500000,1280.500000,7174054.0
5940,2019-07-15,1285.000000,1289.500000,1270.349976,1276.099976,1276.099976,4873164.0
5941,2019-07-16,1279.949951,1294.900024,1277.050049,1293.000000,1293.000000,4604019.0
5942,2019-07-17,1294.300049,1297.000000,1280.000000,1281.849976,1281.849976,4334958.0
5943,2019-07-18,1282.000000,1286.400024,1258.000000,1261.849976,1261.849976,5459896.0
5944,2019-07-19,1268.199951,1272.949951,1242.699951,1249.000000,1249.000000,7468515.0
5945,2019-07-22,1251.000000,1284.500000,1227.300049,1280.500000,1280.500000,13300153.0
5946,2019-07-23,1285.000000,1293.900024,1260.400024,1273.550049,1273.550049,9287951.0
5947,2019-07-24,1273.500000,1278.800049,1253.550049,1259.099976,1259.099976,6943982.0
5948,2019-07-25,1264.000000,1269.050049,1227.000000,1231.500000,1231.500000,9968545.0
5949,2019-07-26,1231.500000,1242.500000,1210.000000,1213.800049,1213.800049,9320481.0
5950,2019-07-29,1216.900024,1222.000000,1205.099976,1210.949951,1210.949951,8058035.0
5951,2019-07-30,1213.949951,1220.000000,1175.949951,1180.900024,1180.900024,9533344.0
5952,2019-07-31,1175.750000,1185.000000,1162.400024,1166.250000,1166.250000,9702705.0

In [4]:
data = data[["Open", "High", "Low", "Close"]]

In [5]:
data["H-L"] = data["High"] - data["Low"]
data["O-C"] = data["Close"] - data["Open"]
data["3days MA"] = data['Close'].shift(1).rolling(window = 3).mean() # 3 days moving average
data["10days MA"] = data['Close'].shift(1).rolling(window = 10).mean()
data["30days MA"] = data['Close'].shift(1).rolling(window = 30).mean()
data["std_dev"] = data["Close"].rolling(5).std() #standard deviation
data["RSI"] = talib.RSI(data['Close'].values, timeperiod = 9) #Relative Strength Index
data['Williams %R'] = talib.WILLR(data['High'].values, data['Low'].values, data['Close'].values, 7)

c:\users\huy\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
c:\users\huy\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [6]:
data

,Open,High,Low,Close,H-L,O-C,3days MA,10days MA,30days MA,std_dev,RSI,Williams %R
0,16.009800,16.095699,15.904300,16.068300,0.191399,0.058500,NaN,NaN,NaN,NaN,NaN,NaN
1,16.029301,16.107401,15.826200,15.943400,0.281201,-0.085901,NaN,NaN,NaN,NaN,NaN,NaN
2,16.205000,16.943001,16.029301,16.064400,0.913700,-0.140600,NaN,NaN,NaN,NaN,NaN,NaN
3,15.912100,15.962900,15.701300,15.916000,0.261600,0.003900,16.025367,NaN,NaN,NaN,NaN,NaN
4,15.853600,15.853600,15.670000,15.806700,0.183600,-0.046900,15.974600,NaN,NaN,0.109932,NaN,NaN
5,15.775500,15.787200,15.017900,15.174100,0.769300,-0.601400,15.929033,NaN,NaN,0.351391,NaN,NaN
6,14.725100,14.994500,14.233100,14.736800,0.761400,0.011700,15.632267,NaN,NaN,0.562697,NaN,-81.412605
7,14.447800,14.795400,14.291600,14.358000,0.503800,-0.089800,15.239200,NaN,NaN,0.671736,NaN,-95.390976
8,14.213500,14.877400,14.194000,14.807100,0.683400,0.593600,14.756300,NaN,NaN,0.547031,NaN,-77.697353
9,14.916400,15.029600,14.553300,14.650900,0.476300,-0.265500,14.633967,NaN,NaN,0.294395,22.290429,-74.170388
10,14.607900,14.682100,14.416600,14.498600,0.265500,-0.109300,14.605333,15.352570,NaN,0.182012,20.890915,-81.646180
11,14.447800,14.604000,14.401000,14.525900,0.203000,0.078100,14.652200,15.195600,NaN,0.169359,21.880006,-79.167713
12,14.447800,14.467400,13.827000,13.948000,0.640400,-0.499800,14.558467,15.053850,NaN,0.324612,16.859948,-89.938467
13,13.592700,13.815300,13.417000,13.561400,0.398300,-0.031300,14.324167,14.842210,NaN,0.464534,14.377372,-91.045517
14,13.374000,13.541900,13.233400,13.323200,0.308500,-0.050800,14.011767,14.606750,NaN,0.541807,13.045842,-95.000557
15,13.366200,13.725400,13.354500,13.549700,0.370900,0.183500,13.610867,14.358400,NaN,0.472776,20.884010,-82.390602
16,13.596600,13.655200,12.261100,12.975700,1.394100,-0.620900,13.478100,14.195960,NaN,0.356742,16.614268,-70.483271
17,12.862500,12.940600,12.339200,12.530600,0.601400,-0.331900,13.282867,14.019850,NaN,0.437544,14.099541,-88.497162
18,12.503200,12.557900,11.929200,12.003400,0.628700,-0.499800,13.018667,13.837110,NaN,0.621396,11.733113,-97.076669
20,11.948700,13.061600,11.874600,12.948400,1.187000,0.999700,12.503233,13.556740,NaN,0.574908,34.053011,-44.669449
21,13.354500,14.760200,13.159200,14.112000,1.601000,0.757500,12.494133,13.386490,NaN,0.777236,51.160610,-22.463266
22,13.979300,14.506400,13.452100,13.803500,1.054300,-0.175800,13.021267,13.347830,NaN,0.875600,47.486374,-33.154283
23,13.666900,14.447800,13.627800,14.358000,0.820000,0.691100,13.621300,13.275590,NaN,0.965894,54.145433,-13.938176
24,14.740700,16.087900,14.740700,15.916000,1.347200,1.175300,14.091167,13.316590,NaN,1.083660,67.266124,-4.079937
25,16.790701,17.587299,16.287001,17.239799,1.300298,0.449098,14.692500,13.552050,NaN,1.453549,74.296436,-6.082939
26,17.653700,17.962200,15.431900,15.795000,2.530300,-1.858700,15.837933,13.943710,NaN,1.363744,58.792641,-35.600237
27,14.920300,16.243999,14.764100,16.087900,1.479899,1.167600,16.316933,14.168240,NaN,1.026801,60.664689,-39.023527
28,16.251900,17.778601,16.087900,17.493601,1.690701,1.241701,16.374233,14.479460,NaN,0.797221,68.412567,-10.389991
29,18.118401,18.899300,17.501400,18.508900,1.397900,0.390499,16.458834,14.975760,NaN,1.102128,72.770610,-7.405862
30,18.040300,18.352600,17.103100,17.349100,1.249500,-0.691200,17.363467,15.626310,NaN,1.108518,61.811223,-37.276968
...,...,...,...,...,...,...,...,...,...,...,...,...
5923,1280.000000,1300.000000,1278.000000,1296.750000,22.000000,16.750000,1280.216675,1310.815015,1306.446676,16.582969,43.308665,-54.947226
5924,1295.949951,1296.000000,1275.550049,1279.500000,20.449951,-16.449951,1285.033325,1307.755017,1306.356677,7.697454,36.993425,-76.560291
5925,1272.150024,1276.449951,1257.099976,1262.400024,19.349975,-9.750000,1284.533325,1304.215015,1307.125012,12.214687,31.819016,-92.194336
5926,1258.900024,1298.000000,1254.250000,1295.849976,43.750000,36.949952,1279.550008,1298.540015,1307.500012,14.324207,47.866462,-36.730075
5927,1291.000000,1304.599976,1286.349976,1294.150024,18.250000,3.150024,1279.250000,1295.210010,1309.626676,14.814282,47.230894,-20.754632
5928,1293.150024,1296.900024,1271.000000,1274.150024,25.900024,-19.000000,1284.133341,1291.410010,1310.750012,14.038836,40.171117,-60.476597
5929,1277.099976,1282.849976,1248.650024,1253.099976,34.199952,-24.000000,1288.050008,1286.100012,1311.325012,18.948702,34.130480,-92.046549
5930,1258.050049,1272.650024,1246.449951,1268.849976,26.200073,10.799927,1273.800008,1279.655005,1310.916679,17.992772,41.531186,-61.478907
5931,1273.949951,1281.000000,1263.300049,1278.500000,17.699951,4.550049,1265.366659,1278.309998,1310.965011,14.910711,45.733790,-44.883860
5932,1282.900024,1286.500000,1275.050049,1282.550049,11.449951,-0.349975,1266.816651,1278.059998,1309.385010,11.442085,47.514995,-37.919033
5933,1281.400024,1291.000000,1280.000000,1284.000000,11.000000,2.599976,1276.633342,1278.580005,1307.476676,12.795381,48.199791,-35.425567
5934,1285.099976,1290.500000,1260.000000,1263.349976,30.500000,-21.750000,1281.683350,1277.305005,1305.596676,8.983131,39.865904,-66.501486
5935,1258.000000,1268.099976,1248.199951,1252.050049,19.900025,-5.949951,1276.633342,1275.690003,1303.245007,13.877468,36.030746,-87.429648
5936,1248.949951,1283.500000,1245.500000,1280.099976,38.000000,31.150025,1266.466675,1274.655005,1300.418343,14.079205,49.576994,-23.956097
5937,1280.050049,1289.349976,1268.699951,1278.849976,20.650025,-1.200073,1265.166667,1273.080005,1299.400008,13.498247,49.056192,-26.703349
5938,1287.000000,1289.800049,1279.300049,1281.550049,10.500000,-5.449951,1270.333334,1271.550000,1297.903341,12.973017,50.324295,-20.769123
5939,1283.000000,1300.000000,1278.050049,1280.500000,21.949951,-2.500000,1280.166667,1272.290003,1296.853341,12.648369,49.782140,-35.779817
5940,1285.000000,1289.500000,1270.349976,1276.099976,19.150024,-8.900024,1280.300008,1275.030005,1295.211674,2.092448,47.376101,-43.853255
5941,1279.949951,1294.900024,1277.050049,1293.000000,17.849975,13.050049,1279.383342,1275.755005,1293.410006,6.484316,56.467444,-12.844037
5942,1294.300049,1297.000000,1280.000000,1281.849976,17.000000,-12.450073,1283.199992,1277.205005,1291.170007,6.254703,50.049633,-33.302796
5943,1282.000000,1286.400024,1258.000000,1261.849976,28.400024,-20.150024,1283.649984,1277.134998,1288.843339,11.273063,40.712330,-90.833390
5944,1268.199951,1272.949951,1242.699951,1249.000000,30.250000,-19.199951,1278.899984,1274.919995,1286.660006,17.220677,35.874690,-89.005159
5945,1251.000000,1284.500000,1227.300049,1280.500000,57.199951,29.500000,1264.233317,1273.484998,1284.463338,17.568488,51.701736,-26.822577
5946,1285.000000,1293.900024,1260.400024,1273.550049,33.500000,-11.449951,1263.783325,1276.329993,1283.175004,13.861684,48.717203,-33.644143
5947,1273.500000,1278.800049,1253.550049,1259.099976,25.250000,-14.400024,1267.683350,1275.675000,1281.321672,12.388364,42.921724,-54.375969
5948,1264.000000,1269.050049,1227.000000,1231.500000,42.050049,-32.500000,1271.050008,1273.700000,1278.886670,19.556645,34.183637,-93.571429
5949,1231.500000,1242.500000,1210.000000,1213.800049,32.500000,-17.699951,1254.716675,1268.694995,1275.695003,28.311085,29.805832,-95.470741
5950,1216.900024,1222.000000,1205.099976,1210.949951,16.900024,-5.950073,1234.800008,1262.025000,1272.236670,27.696416,29.130030,-93.412194
5951,1213.949951,1220.000000,1175.949951,1180.900024,44.050049,-33.049927,1218.750000,1255.509998,1269.858333,28.754984,22.956205,-95.803247
5952,1175.750000,1185.000000,1162.400024,1166.250000,22.599976,-9.500000,1201.883341,1244.300000,1266.521668,26.477124,20.565628,-97.072262

In [7]:
data['Price_Rise'] = np.where(data['Close'].shift(-1) > data['Close'], 1, 0)

In [8]:
data = data.dropna()

In [9]:
X = data.iloc[:, 4:-1]
y = data.iloc[:, -1]

In [10]:
split = int(len(data)*0.8)
X_train, X_test, y_train, y_test = X[:split], X[split:], y[:split], y[split:]

In [11]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [ ]:
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout

clf = Sequential()

clf.add(Dense(units=128, kernel_initializer="uniform", activation="relu", input_dim=X.shape[1]))
clf.add(Dense(units=128, kernel_initializer="uniform", activation="relu"))
clf.add(Dense(units=128, kernel_initializer="uniform", activation="sigmoid"))

clf.compile(optimizer="adam", loss="mean_squared_error", metrics=["accuracy"])
clf.fit(X_train, y_train, batch_size=10, epochs=100)

Using TensorFlow backend.

ModuleNotFoundError: No module named 'numpy.core._multiarray_umath'

SystemError: <class '_frozen_importlib._ModuleLockManager'> returned a result with an error set

ImportError: numpy.core._multiarray_umath failed to import

ImportError: numpy.core.umath failed to import